@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab");
div#menu {
  color: white; }
  div#menu .topBar {
    z-index: 100;
    width: 100%;
    max-width: 100%;
    height: 40px;
    max-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7); }
  div#menu .bottomBar {
    position: fixed;
    top: 50px;
    z-index: 100;
    width: 100%;
    max-width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px; }
  div#menu a#menuToggle {
    color: white;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    float: right; }
  div#menu a#menuToggle:hover {
    color: white;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif; }
  div#menu nav a {
    color: white;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 15px; }
  div#menu nav a:hover {
    transition: 0.25s;
    color: #d7422d; }
  div#menu #fullWidthNav {
    float: right;
    margin-top: 5px;
    margin-right: 15px; }
  div#menu a.title {
    font-family: 'Josefin Slab', serif;
    font-size: 32px;
    float: left;
    margin-top: 5px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
    text-decoration: none; }

/*# sourceMappingURL=menu.css.map */
