@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab");
body {
  text-align: center;
  background: #323232; }

.project {
  margin-right: 10%;
  margin-left: 10%;
  padding: 15px;
  margin-top: 50px;
  background: url("/img/subtle-dark-vertical.png") rgba(0, 0, 0, 0.5);
  color: white; }
  .project .projectTitle {
    margin-bottom: 20px;
    padding-top: 15px; }
  .project .projectDescription {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif; }
  .project .projectImages {
    max-width: 90%;
    margin: 0 auto; }
    .project .projectImages img {
      max-height: 200px;
      max-width: 100%;
      display: inline-block;
      margin: 5px;
      border: 3px solid black; }
    .project .projectImages img:hover {
      border: 3px solid white; }
  .project .seeMore {
    color: #d7422d;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px; }

header {
  height: 230px;
  color: #d7422d;
  text-align: center; }
  header h1 {
    margin-bottom: 0; }

/*# sourceMappingURL=projects.css.map */
