@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab");
html, body, header {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  border: 0; }

section {
  margin: 0;
  border: 0;
  padding: 0; }

h1, h2 {
  font-family: 'Josefin Slab', serif; }

h1 {
  font-size: 92px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 40px; }

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 50px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 25px; } }
section#top {
  background: url("/img/60-lines.png"), linear-gradient(to left, #CCDFCB, #056571);
  height: 100%;
  text-align: center;
  color: white; }
  section#top h1 {
    margin-bottom: 0;
    margin-top: 0; }
  section#top h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5px; }

.hidden {
  visibility: hidden; }

section#about {
  background: #d7422d;
  color: white;
  text-align: center;
  padding-top: 15px;
  overflow: auto; }
  section#about #headers {
    float: left;
    margin-left: 20px; }
  section#about h2 {
    text-align: left;
    margin-top: 0;
    font-weight: bold;
    text-shadow: 3px 3px #555;
    margin-bottom: 0; }
  section#about h3 {
    text-align: left;
    margin-left: 100px;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px #666; }
  @media only screen and (max-device-width: 480px) {
    section#about {
      text-align: center; }
      section#about h2 {
        width: 100%;
        text-align: center;
        margin: 0 auto; }
      section#about h3 {
        width: 100%;
        text-align: center;
        margin: 0 auto; } }
  section#about #hobbies {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 20px;
    padding: 7px;
    float: right; }
    section#about #hobbies .card {
      height: 210px;
      width: 150px;
      background-color: white;
      text-align: center;
      color: black;
      font-family: 'Josefin Sans', sans-serif;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 10px 10px 10px black;
      overflow: hidden;
      position: relative;
      margin-bottom: 5px; }
      section#about #hobbies .card .front, section#about #hobbies .card .back {
        overflow: hidden;
        float: left; }
      section#about #hobbies .card .back {
        opacity: 0; }
      section#about #hobbies .card img {
        float: none;
        width: 125px;
        border-radius: 50%;
        margin-top: 15px;
        margin-left: 12px;
        margin-right: 12px; }
      section#about #hobbies .card .caption {
        position: absolute;
        text-align: center;
        bottom: 5px;
        width: 130px;
        margin-right: 10px;
        margin-left: 10px; }
        section#about #hobbies .card .caption h4 {
          margin-bottom: 0; }
      section#about #hobbies .card .overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        transition: visibility 0s, opacity 0.5s linear; }
    section#about #hobbies .card:hover .front {
      opacity: 0;
      height: 0; }
    section#about #hobbies .card:hover .back {
      display: inline-block;
      height: 100%;
      padding: 5px;
      opacity: 1; }
      section#about #hobbies .card:hover .back p {
        padding: 0;
        margin: 0;
        border: 0; }

.vertical_centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0; }

section#photos {
  margin: 0;
  padding: 0;
  border: 0;
  height: 700px;
  background-image: url("/img/running.jpg");
  color: #CCDFCB;
  text-align: center;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%; }
  section#photos a {
    color: white;
    text-decoration: none; }
  section#photos #overlay {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: url("/img/black-linen.png"), rgba(0, 0, 0, 0.2); }
  section#photos h2 {
    margin-top: 0;
    margin-bottom: 0; }

section#games {
  height: 230px;
  max-width: 100%;
  background: url("/img/3px-tile.png"), linear-gradient(to bottom, #0791a2, #056571);
  text-align: center; }
  section#games h1 {
    color: black;
    margin: 0 auto; }

section#playground {
  height: 100%; }
  section#playground canvas {
    width: 100%;
    height: 100%; }
  section#playground h1 {
    display: none; }

section#haiku {
  height: 100%;
  text-align: center;
  background: url("/img/black-paper.png"), #c4c18d;
  padding-top: 20px; }
  section#haiku h1 {
    color: #b03321;
    margin-top: 0;
    margin-bottom: 15px; }
  section#haiku p#haikuContents {
    margin-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    color: #FFF;
    margin-bottom: 20px; }

section#google_map {
  color: white;
  background-color: #222;
  padding-top: 50px; }
  section#google_map h1 {
    color: white;
    font-family: 'Josefin Slab', serif;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 0;
    height: 70px; }
  section#google_map #gmap_controls {
    width: 100%;
    height: 100px;
    text-align: center; }
    section#google_map #gmap_controls #content {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
      font-size: 30px;
      font-family: 'Josefin Sans', sans-serif; }
      section#google_map #gmap_controls #content input, section#google_map #gmap_controls #content button {
        display: inline-block;
        margin-right: 20px;
        font-size: 30px;
        background-color: #151515;
        border: 0;
        color: #aaffaa; }
      section#google_map #gmap_controls #content button {
        background-color: black;
        border: 2px solid #aaffaa;
        cursor: pointer; }
  section#google_map #gmap {
    height: 650px;
    width: 100%;
    pointer-events: none; }

#gamesPage {
  min-height: 100%;
  background-color: #151515;
  text-align: center; }
  #gamesPage a {
    text-decoration: none; }
  #gamesPage .game {
    height: 300px;
    width: 300px;
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;
    background: url("/img/shattered.png"), #151515;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    vertical-align: top; }
    #gamesPage .game h2 {
      color: #db5542;
      font-weight: bold;
      font-size: 40px; }
    #gamesPage .game p {
      font-size: 20px;
      padding: 10px;
      color: #ebf2eb;
      font-family: 'Josefin Sans', sans-serif; }

#footer {
  background: url("/img/subtle-dark-vertical.png"), #3c3c3c;
  height: 100px;
  color: white;
  text-align: center; }
  #footer p {
    margin-top: 0;
    margin-right: 20px;
    display: inline-block; }
  #footer a {
    color: #d7422d; }
  #footer img {
    margin-left: 20px;
    height: 40px;
    transform: translateY(25%);
    vertical-align: bottom; }

/*# sourceMappingURL=theme.css.map */
