@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab");
body {
  text-align: center;
  background: linear-gradient(to left, #CCDFCB, #056571); }

.videoContainer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 5px;
  background: url("/img/subtle-dark-vertical.png") #151515; }
  .videoContainer .videoTitle {
    color: #056571; }
  .videoContainer .videoDescription {
    color: #CCDFCB;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px; }
  .videoContainer iframe {
    max-width: 100%; }

header {
  height: 225px; }

/*# sourceMappingURL=videos.css.map */
