@import 'variables';

#imageFocus{
  position: relative;
}

#galleryViewer{
  z-index: 100;
  display: block;
  max-width: 75%;
  max-height: 75%;
  height: 75%;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: fixed;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
  background-color: black;
  #galleryImage{
    display:inline-block;
    position: relative;
    max-height:90%;
    max-width:90%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

#galleryViewer.invisible{
  display: none;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:99;
  background-color: rgba(30, 30, 30, .6);
}

#overlay.invisible{
  display:none;
}

section#heading{
  height:300px;
  background-color:$theme-primary;
  color: white;
  text-align: center;
  h1{
    font-family: 'Josefin Slab', serif;
    font-size: 92px;
  }
  @media only screen and (max-device-width: $max-width) {
    h1{
      font-size: 50px;
    }
  }
}

#gallery{
  text-align:center;
  background: url('/img/black-linen.png'), rgb(80,80,80);
  padding:15px;
  img{
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow:  5px 5px 5px rgb(0,0,0);
    -moz-box-shadow:  5px 5px 5px rgb(0,0,0);
    box-shadow:  5px 5px 5px rgb(0,0,0);
  }
}