@import 'variables';

div#menu{
  color: white;
  .topBar{
    z-index:100;
    width:100%;
    max-width:100%;
    height: 40px;
    max-height:40px;
    padding-top:5px;
    padding-bottom:5px;
    position:fixed;
    top:0;
    background:rgba(0,0,0,.7);
  }
  .bottomBar{
    position: fixed;
    top: 50px;
    z-index:100;
    width:100%;
    max-width:100%;
    display: none;
    background:rgba(0,0,0,.7);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  a#menuToggle{
    color:white;
    font-size:24px;
    font-family: 'Josefin Sans', sans-serif;
    float: right;
  }

  a#menuToggle:hover{
    color:white;
    font-size:24px;
    font-family: 'Josefin Sans', sans-serif;
  }

  nav{
    a{
      color:white;
      font-size:24px;
      font-family: 'Josefin Sans', sans-serif;
      margin-right:15px;
    }
    a:hover{
      transition: 0.25s;
      color: $theme-primary;
    }
  }

  #fullWidthNav{
    float:right;
    margin-top:5px;
    margin-right:15px;
  }

  a.title{
    font-family: 'Josefin Slab', serif;
    font-size: 32px;
    float:left;
    margin-top:5px;
    font-weight:bold;
    margin-left:20px;
    color:white;
    text-decoration:none;
  }
}