@import 'variables';
#musicHeader{
  height:230px;
  text-align: center;
  background: url('/img/subtle-dark-vertical.png'), $theme-primary;
}

#playerContainer{
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  background: url('/img/subtle-dark-vertical.png');
}

canvas#visualizer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}