@import 'variables';
body{
  text-align: center;
  background: rgb(50,50,50);
}

.project{
  margin-right: 10%;
  margin-left: 10%;
  padding: 15px;
  margin-top: 50px;
  background: url('/img/subtle-dark-vertical.png') rgba(0,0,0,.5);
  color: white;
  .projectTitle{
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .projectDescription{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .projectImages{
    max-width: 90%;
    margin: 0 auto;
    img{
      max-height: 200px;
      max-width: 100%;
      display: inline-block;
      margin: 5px;
      border: 3px solid black;
    }
    img:hover{
      border: 3px solid white;
    }
  }

  .seeMore{
    color: $theme-primary;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

header{
  height: 230px;
  color: $theme-primary;
  text-align: center;
  h1{
    margin-bottom: 0;
  }
}