@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
$theme-primary: #d7422d;
$theme-secondary: #CCDFCB;
$theme-tertiary: #056571;
$max-width: 480px;
$max-menu-width: 600px;