@import 'variables';

body{
  text-align: center;
  background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
}

.videoContainer{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 5px;
  background: url('/img/subtle-dark-vertical.png') #151515;
  .videoTitle{
    color: $theme-tertiary;
  }
  .videoDescription{
    color: $theme-secondary;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
  }
  iframe{
    max-width: 100%;
  }
}

header{
  height: 225px;
}